<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Slogan | NAME</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/c/font_4635473_2foxw6wmwxr.css">
    <link rel="stylesheet" href="/static/css/homecard.css">
    <script src="/js/logout.js"></script>  <!--左下角展示用户信息-->
    <script src="/static/js/chat.js"></script>  <!--右侧对话框-->
</head>
<body>
<script src="/static/iconfont.json"></script>
<section class="user">
    <div class="container">
        <!--左侧导航栏-->
        <div class="card">
            <div class="heading">Join <span>Us</span></div>
            <div class="content">
                <a href="home.html" >
                    <div class="item item--home item--top">
                        <i style="font-size: 25px" class="iconfont icon-zhuye"></i>
                        <span>Home</span>
                    </div></a>
                <a href="dialog.html">
                    <div class="item item--newdialog item--top">
                        <i style="font-size: 25px" class="iconfont icon-duihua"></i>
                        <span>Dialog</span>
                    </div></a>
                <a href="contact.html">
                <div class="item item--contact item--top">
                    <i style="font-size: 30px" class="iconfont icon-yuwolianxi"></i>
                    <span>Contact</span>
                </div></a>
            </div>
            <div class="item item--bottom">
                <i style="font-size: 30px" class="iconfont icon-touxiangtongyong user-avatar" onclick="location.href='login.html'"></i>
                <div class="tooltip">Click to Logout</div>
            </div>
        </div>
        <!--右侧对话框-->
        <div class="dialog-main">
            <div class="chat-history">
                <div class="logoshow">
                    <img class="logoimg" src="/static/img/xh.jpg">
                    <div class="slogan">你可以开始对话</div>
                </div>
                <div class="itemcard">
                    <div class="cardbox">
                        <div class="card-content">
                            <div class="titlebox">
                                <div class="card-title">Title1</div>
                            </div>
                            <div class="textbox">
                                <div class="card-text">你擅长写藏头诗：1. 巧妙将输入的字放在每句的开头；2. 诗句要押韵。3. 语义要连贯，诗题：我爱李华</div>
                            </div>
                        </div>
                    </div>
                    <div class="cardbox">
                        <div class="card-content">
                            <div class="titlebox">
                                <div class="card-title">Title2</div>
                            </div>
                            <div class="textbox">
                                <div class="card-text">你擅长写藏头诗：1. 巧妙将输入的字放在每句的开头；2. 诗句要押韵。3. 语义要连贯，诗题：我爱李华</div>
                            </div>
                        </div>
                    </div>
                    <div class="cardbox">
                        <div class="card-content">
                            <div class="titlebox">
                                <div class="card-title">Title3</div>
                            </div>
                            <div class="textbox">
                                <div class="card-text">你擅长写藏头诗：1. 巧妙将输入的字放在每句的开头；2. 诗句要押韵。3. 语义要连贯，诗题：我爱李华</div>
                            </div>
                        </div>
                    </div>
                    <div class="cardbox">
                        <div class="card-content">
                            <div class="titlebox">
                                <div class="card-title">Title4</div>
                            </div>
                            <div class="textbox">
                                <div class="card-text">你擅长写藏头诗：1. 巧妙将输入的字放在每句的开头；2. 诗句要押韵。3. 语义要连贯，诗题：我爱李华</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="chat-message clearfix">
                <div class="messageBox">
                    <!--左边上传文件的标签-->
                    <div class="fileUploadWrapper">
                        <label for="file">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 337 337" style="width: 20px">
                                <circle
                                        stroke-width="20"
                                        stroke="#6c6c6c"
                                        fill="none"
                                        r="158.5"
                                        cy="168.5"
                                        cx="168.5"
                                ></circle>
                                <path
                                        stroke-linecap="round"
                                        stroke-width="25"
                                        stroke="#6c6c6c"
                                        d="M167.759 79V259"
                                ></path>
                                <path
                                        stroke-linecap="round"
                                        stroke-width="25"
                                        stroke="#6c6c6c"
                                        d="M79 167.138H259"
                                ></path>
                            </svg>
                            <span class="tooltip-send">Add an image</span>
                        </label>
                        <input type="file" id="file" name="file" />
                    </div>
                    <textarea required="" placeholder="Message..."  id="messageInput" ></textarea>
                    <button id="sendButton">
                        <i style="font-size: 30px" class="iconfont icon-fasong-tijiao"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<script id="message-template" type="text/x-handlebars-template">
    <li class="clearfix">
        <div class="message-data align-right">
            <span class="message-data-time" >{{time}}, Today</span> &nbsp; &nbsp;
            <span class="message-data-name" >Olia</span> <i class="fa fa-circle me"></i>
        </div>
        <div class="message other-message float-right">
            {{messageOutput}}
        </div>
    </li>
</script>

<script id="message-response-template" type="text/x-handlebars-template">
    <li>
        <div class="message-data">
            <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
            <span class="message-data-time">{{time}}, Today</span>
        </div>
        <div class="message my-message">
            {{response}}
        </div>
    </li>
</script>

</body>
</html>